<h3>New Player</h3>
<div>
    <div>
        <label>First Name</label>
        <input [(ngModel)]="firstName">
    </div>
    <div>
        <label>Last Name</label>
        <input [(ngModel)]="lastName">
    </div>
    <div>
        <label>Nickname</label>
        <input [(ngModel)]="nickName">
    </div>
    <div>
        <label>PlayerColor</label>
        <input [(colorPicker)]="hexColor" [style.background]="hexColor" [value]="hexColor"/>
    </div>
    <button (click)="saveThenView()">Save</button>
</div>