<h3>New Player</h3>
<div>
    <div>
        <label>First Name</label>
        <input [(ngModel)]="firstName">
    </div>
    <div>
        <label>Last Name</label>
        <input [(ngModel)]="lastName">
    </div>
    <div>
        <label>Nickname</label>
        <input [(ngModel)]="nickName">
    </div>
    <div>
        <label>PlayerColor</label>
        <input [(colorPicker)]="hexColor" [style.background]="hexColor" [value]="hexColor"/>
    </div>
    <div>
        <label>Player Location</label>
        <select [(ngModel)]="locationId">
            <option *ngFor="let location of allLocations" [ngValue]="location.locationId">{{location.locationDescription}} - {{location.locationCode}}</option>
        </select>
    </div>
    <div>
        <label>Player AlmaMater</label>
        <select [(ngModel)]="almaMaterId">
            <option *ngFor="let almaMater of allAlmaMaters" [ngValue]="almaMater.almaMaterId">{{almaMater.almaMaterDescription}} - {{almaMater.almaMaterCode}}</option>
        </select>
    </div>
    <button (click)="saveThenView()">Save</button>
</div>