<h3>Tournament Creation</h3>
<div>
    <div>
        <label>Tournament Name</label>
        <input [(ngModel)]="tournamentName">
    </div>
    <div>
        <div class='bamboozled'>
          <div class='innerBamboozle' [dragula]='"first-bag"' [dragulaModel]='selectFromPlayers'>
            <li *ngFor="let item of selectFromPlayers" [attr.data-id]="item.playerId">{{item.firstName}} {{item.lastName}}</li>
          </div>
          <div class='innerBamboozle' [dragula]='"first-bag"' [dragulaModel]='participants'>
            <li *ngFor="let item of participants">{{item.firstName}} {{item.lastName}}</li>
          </div>
        </div>
      </div>
    <button (click)="createTournament()">Save</button>
</div>