<select [(ngModel)]="selectedMatchTypeId" [formControl]="matchTypeControl">
    <option *ngFor="let matchType of allMatchTypes" [ngValue]="matchType.matchTypeId">{{matchType.matchTypeDescription}}</option>
</select>
<h3>{{graphTitle}}</h3>
<div class="sizedchart">
    <!-- [view]="view" -->
    <ngx-charts-bar-vertical
    *ngIf="showChart"
    [scheme]="colorScheme"
    [results]="barChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMax]="yScaleMax">
    </ngx-charts-bar-vertical>
</div>
<div class="grid grid-pad">
    <div class="col-1-4" (click)="loadGamesWon()"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Games Won</h4>
        </div>
    </div>
    <div class="col-1-4" (click)="loadGamesPlayed()"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Games Played</h4>
        </div>
    </div>
    <div class="col-1-4" (click)="loadGamesWonPct()"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Win %</h4>
        </div>
    </div>
    <div class="col-1-4" (click)="loadPointsPerGame()"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Most William</h4>
        </div>
    </div>
</div>