<h3>{{barChartLabels[0]}}</h3>
<div>
    <canvas baseChart height="100"
    *ngIf="showChart"
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="grid grid-pad">
    <div class="col-1-4" (click)="loadGamesPlayed()"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Games Played</h4>
        </div>
    </div>
    <div class="col-1-4" (click)="loadGamesWon()"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Games Won</h4>
        </div>
    </div>
    <div class="col-1-4"> <!--[routerLink]="['/detail', hero.id]"-->
        <div class="module hero">
            <h4>Most William</h4>
        </div>
    </div>
</div>